@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    background-color: #FAF8ED;
}
.navbar.navbar-expand-lg{
    margin-top: 18px;
}
.navbar-brand{
    margin-left: 124px;
}
.nav-link{
    font-family: 'Poppins', serif;
    color: #2E476B;
    font-size: 16px;
    margin-left: 20px;
}
.nav-link.home-link
{
    margin-left: 50px;
}
.nav-item{
    margin-bottom: 6px;
}
.btn.btn-outline.btn-lg{
    margin-top: 5px;
    margin-right: 120px;
    border-color: #F66F4D;
    border-radius: 27px;
}
.upperButtonText{
    text-align: left;
    font-family: 'Poppins', serif;
    color: #F66F4D;
    font-size: 16px;
}